# generic files to ignore
# backup files (*~) and vim swap file (.swp), MacOS dir file (.DS_Store)
*~
*.lock
*.DS_Store
.*.swp
*.out
*.bak
*.zip
*.patch

# except this file
!.gitignore

# from autoreconf -i
compile
config.guess
config.sub
install-sh
missing
depcomp
ylwrap
test-driver
autom4te.cache
m4
aclocal.m4
config.cache
config.h.in
configure
ltconfig
ltmain.sh
Makefile.in

# from configure
config.h
config.status
config.log
Makefile
Makefile.PL
stamp-h*
libtool
.deps
pilot-link.m4
pilot-link.pc
pilot-link-pp.pc
tags
include/pi-md5.h
include/pi-version.h
doc/xml/catalog.xml
doc/xml/docbook.xsl
doc/doxygen.cfg
bindings/Python/setup*.py

# from make / cc / gcc
*.o
*.la
*.lo
*.so
.libs
src/pilot-*
!src/*.c
!src/*.h
!src/*.pl
src/parsedate.c
tests/*-test

# from make install
dist
