config.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
install-sh
configure
libtool
ltconfig
ltmain.sh
.deps
.libs
stamp-h*
aclocal.m4
Makefile
Makefile.in
pilot-link.m4
pilot-link.pc
pilot-link-pp.pc
tags
autom4te.cache
# Updated auto things
bindings/Perl/Makefile.PL
bindings/Python/setup-standalone.py
bindings/Python/setup.py
compile
depcomp
doc/doxygen.cfg
doc/xml/catalog.xml
doc/xml/docbook.xsl
include/pi-md5.h
include/pi-version.h
missing
test-driver
ylwrap
# A popular IDE
*.code-workspace
