config.cache
config.h
config.h.in
config.log
config.status
configure
install-sh
configure
libtool
ltconfig
ltmain.sh
.deps
.libs
stamp-h*
aclocal.m4
Makefile
Makefile.in
pilot-link.m4
pilot-link.pc
pilot-link-pp.pc
tags
autom4te.cache

# build artifacts
*.lo
*.o
*.la
ylwrap
test-driver
tests/*-test
m4/*.m4
compile
doc/doxygen.cfg
doc/xml/*.xml
doc/xml/*.xsl
missing
depcomp
bindings/Perl/Makefile.PL
bindings/Python/setup*.py
include/pi-*.h
src/parsedate.c
src/**/*  mode:775

# Ignore built executables
src/pilot-addresses
src/pilot-clip
src/pilot-csd
src/pilot-debugsh
src/pilot-dedupe
src/pilot-dlpsh
src/pilot-file
src/pilot-foto
src/pilot-foto-treo600
src/pilot-foto-treo650
src/pilot-getram
src/pilot-getrom
src/pilot-getromtoken
src/pilot-hinotes
src/pilot-install-datebook
src/pilot-install-expenses
src/pilot-install-hinote
src/pilot-install-memo
src/pilot-install-netsync
src/pilot-install-todo
src/pilot-install-todos
src/pilot-install-user
src/pilot-memos
src/pilot-nredir
src/pilot-read-expenses
src/pilot-read-ical
src/pilot-read-notepad
src/pilot-read-palmpix
src/pilot-read-screenshot
src/pilot-read-todos
src/pilot-read-veo
src/pilot-reminders
src/pilot-schlep
src/pilot-wav
src/pilot-xfer
